@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// FONT SIZES

$default-font-size: 1.6rem;
$mid-font-size: 1.5rem;
$big-font-size: 5rem;

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

p {
    font-weight: 400;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}
