@import './_typography.scss';
@import './mixins';

// CUSTOM COLORS //
// light-mode
$primary: #87a0a8;
$secondary: #7ca2a9;
$tertiary: #5d525b;
$highlight-primary: #e4bc94;

// dark-mode

// CUSTOMIZED BULMA VARIABLES //

// ----- NAVBAR ----- //
$navbar-background-color: $primary;
$navbar-item-color: white;

// :active
$navbar-tab-active-color: $tertiary;
$navbar-tab-active-border-bottom-color: $tertiary;

// :hover
$navbar-item-hover-color: $tertiary;
$navbar-tab-hover-background-color: white;
$navbar-tab-hover-border-bottom-color: white;

// ----- TITLE ----- //
$title-color: $tertiary;
$subtitle-color: $tertiary;

// ----- FOOTER ----- //
$footer-padding: 1rem 1.5rem 1rem;

@import '~bulma/bulma.sass';

// CUSTOM GLOBAL //

h3 {
    text-align: center;
}

a:focus {
    outline: none;
}
