@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// CUSTOM COLORS //
$primary: #15183e;
$highlight-primary: #71c2b8;

// CUSTOMIZED BULMA VARIABLES //

// ----- NAVBAR ----- //
$navbar-background-color: $primary;
$navbar-item-color: white;

// :active
$navbar-tab-active-color: $highlight-primary;
$navbar-tab-active-border-bottom-color: $highlight-primary;

// :hover
$navbar-item-hover-color: $highlight-primary;
$navbar-tab-hover-background-color: white;
$navbar-tab-hover-border-bottom-color: $highlight-primary;

// ----- TITLE ----- //
$title-color: $primary;
$subtitle-color: $primary;

// ----- FOOTER ----- //
$footer-padding: 1rem 1.5rem 1rem;

@import '~bulma/bulma.sass';

// CUSTOM GLOBAL //
body {
    font-family: 'Nunito', sans-serif;
}

h3 {
    text-align: center;
}

a:focus {
    outline: none;
}
