@import '../../../styles/mixins';

.aboutPage {
    background: rebeccapurple;
    margin-top: 100vh;
}

.icon {
    padding: 0.2rem;

    &:hover {
        opacity: 0.8;
        @include easeOut();
    }
}
