@import '../../../styles/mixins';

.about__page {
    background: rebeccapurple;
    margin-top: 100vh;
    height: 90vh;

    .container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        display: flex;
        padding: 1em;

        @include respond(phone) {
            flex-direction: column;
        }

        .sidebar {
            &__socials {
                display: flex;
                // border: solid red 2px;
                justify-content: center;

                &__items {
                    margin: 0 0.5em;

                    &__link {
                        opacity: 0.8;

                        &:hover,
                        &:focus {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
