@import '../../../styles/mixins';

.skills__page {
    // background: lightskyblue;
    min-height: 100vh;

    .title {
        margin-bottom: 2.5rem;
    }

    .subtitle {
        padding-bottom: 0.5em;
        border-bottom: solid hsl(0, 0%, 85%) 1px;

        @include respond(mobile) {
            text-align: center;
        }
    }

    .skill_item {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .img_container {
        width: 40%;

        @include respond(mobile) {
            width: 20%;
        }
    }
}
