@import '../../../styles/variables';

// NAVBAR

.navbar {
    // background: salmon;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 0.7em;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}

.navbarItems {
    display: flex;
    padding: 10px;

    li {
        padding: 0 0.3rem;
    }
}

.navbarItems a {
    &:hover {
        background: white;
    }
}
