@import '../../../styles/variables';

// // NAVBAR

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    font-size: $default-font-size;
    display: flex;
    justify-content: flex-end;
}

.navbarList {
    display: flex;
    padding: 10px;
}

.navbarList a {
    padding: 0 10px;
}
